span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}

.box-part{
    background:#FFF;
    padding:60px 10px;
    margin:30px 5px;
    box-shadow: 0px 0px 6px #e0dada;
    border-radius: 10%;
}
.text{
    margin:20px 0px;
}

.btn-grad {
    background-image: linear-gradient(to right, #171261 0%, #6156f9 100%);
    border-radius: 20px;
    font-size: 0.8em;
  }