<div id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 col-xs-12 footer-contact">
          <img src="../../../assets/logo white.svg">
          <h6>Stay in touch</h6>
          <div class="social-links mt-3">
            <a href="#" class="facebook"><img src="../../../assets/facebook.svg"></a>
            <a href="#" class="google-plus"><img src="../../../assets/google-plus.svg"></a>
            <a href="#" class="twitter"><img src="../../../assets/twitter.svg"></a>
            <a href="#" class="instagram"><img src="../../../assets/instagram-sketched.svg"></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-4 footer-links services">
          <h4>Quick Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Pricing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Location</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Office</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-4 footer-links hours">
          <h4>Hours</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Monday: 9:00-18:00</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Tuesday: 9:00-18:00</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Wednesday: 9:00-18:00</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Thursday: 9:00-18:00</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Friday: 9:00-18:00</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-4 footer-links contacts">
          <h4>Contacts</h4>
          <ul>
              <li>
                  010-200-3632
              </li>
              <li>
                  info@email.com
              </li>
              <li>
                  NewYok, US
              </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
